.page {
  width: 100%;
  background-color: var(--color-bg);
  min-height: 100dvh;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.memberList {
  list-style: decimal;
}
